<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout">
<head>
	<title>Carporate Health
	</title>
	
	<style>
    .header {
        color: #36A0FF;
        font-size: 18px;
        padding: 4px;
    }

    .bigicon {
        font-size: 12px;
        color: #36A0FF;
    }
</style>
	
</head>
<body> 

	<section layout:fragment="content">
	  
<div class="welcome_topbg"></div>
<br/>
<div class="welcome_services_inner">
<br/>
<p class="heading1"><h3></h3></p>
&nbsp;
<div class="container">
    
                <form class="form-horizontal">
                    
                        <div class="panel panel-primary" style="width: 600px; margin-left:240px ">
                        <div class="panel-heading" >
                        <center>
					<div class="panel-title">Carporate Health</div>
					</center>
				</div>
				<div class="panel-body" style="padding-top: 30px;" >
					
					<div class="form-group">
					
					<center>
          <span>Packages:</span>	
           <select id="speciality" class="btn btn-primary round-squre" required="required">
           <option value="Pre-employment health checks">Pre-employment health checks</option>
           <option value="insurance health checks">insurance health checks</option>
           <option value="old age  home health checks">old age  home health checks</option>
           <option value="rural health checks">rural health checks</option>
           <option value="school screening programmes">school screening programmes</option>
           </select>
           </center>
					<br/>
					 <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control" required="required"></input>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="email" name="email" type="email" placeholder="Email Address" class="form-control" required="required"></input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="phone"  name="phone" type="number" placeholder="Phone" class="form-control" required="required"></input>
                            </div>
                        </div>
                        
                             <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" name="message" placeholder="" rows="7" required="required"></textarea>
                            </div>
                        </div>
                        
                           <div class="form-group">
                            <div class="col-md-8 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                            </div>
                        
				
                        </div>
                        </div>
                        </div>

                        

                       
                  
                </form>
       
</div>




</div>
    </section>
</body>
</html>