<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<script type="text/javascript">
	$(document).ready(
			function(ev) {
				$('#custom_carousel').on(
						'slide.bs.carousel',
						function(evt) {
							$('#custom_carousel .controls li.active')
									.removeClass('active');
							$(
									'#custom_carousel .controls li:eq('
											+ $(evt.relatedTarget).index()
											+ ')').addClass('active');
						})
			});
</script>
<style type="text/css">

#custom_carousel .item {
	color: #000;
	padding: 20px 0;
}

#custom_carousel .controls {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	text-align: center;
	position: relative;
	background: #ddd;
}

#custom_carousel .controls li {
	display: table-cell;
	width: 10%;
	max-width: 90px;
}

#custom_carousel .controls li.active {
	background-color: #eee;
	border-top: 3px solid orange;
}

#custom_carousel .controls a small {
	overflow: hidden;
	display: block;
	font-size: 10px;
	margin-top: 5px;
	font-weight: bold
}

#custom_carousel .controls img {
	width: 600px;
	height: 500px;
}
</style>
<title>AboutUs</title>
</head>
<body>
	<section layout:fragment="content">
	
		
		<div class="row">
<br /> <br /> 
         <h2>AboutUs</h2>
			<div class="col-md-3">

				<div class="controls">
					<div class="list-group">
						<ul class="nav">

							<li><a href="#" class="list-group-item  liststyles"
								data-target="#custom_carousel" data-slide-to="0">
									<p id="li1" class="list-group-item-text">AboutUs</p>
							</a></li>
							
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="1">
                                  <p class="list-group-item-text"> Vision</p>
							</a></li>
							
							
							
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="3">
                               <p class="list-group-item-text">Core Values</p>
							</a> </li>
							
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="4">
                                <p class="list-group-item-text">Our Quality Priorities</p>
							</a></li>
							
						
							
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="2">
                                <p class="list-group-item-text"> Objectives</p>
							</a></li>
							
								<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="5">
                                 <p class="list-group-item-text">   Mission</p>
							</a></li>

						</ul>
					</div>
				</div>
			</div>



			<div class="col-md-3">
				<img th:src="@{/resources/img/care.jpg}"
					class="img-responsive" />
			</div>


			<div class="col-md-6">
				<div class="container-fluid">
					<div id="custom_carousel" class="carousel slide"
						data-ride="carousel" data-interval="9999999999999">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
						
							<div class="item active">
								<div class="container-fluid">

                                      	<h4> 	About Us </h4>
						
					
						
				
			
			<p> Astra health, being established in 2015 will rapidly
					emerge as one of the most technologically advanced healthcare and
					diagnostic centers. Head quartered in Hyderabad at Manikonda region
					and being the urban diagnostics is uniquely placed to become the
					premier diagnostic centre for doctors and patients.</p>
					
				<p>Being founded by group of highly qualified entrepreneurial
					professionals including Doctors with diversified experience......
					</p>
				
										
										<div align="right">
										<button type="button" class="btn btn-default btn-sm"
											data-toggle="modal" data-target="#myModal5">More</button>
									</div>

									<!-- Modal -->
									<div class="modal fade" id="myModal5" role="dialog">
										<div class="modal-dialog">

											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title"> AboutUs </h4>
												</div>
												<div class="modal-body">
										
										<p> Astra health, being established in 2015 will rapidly
					emerge as one of the most technologically advanced healthcare and
					diagnostic centers. Head quartered in Hyderabad at Manikonda region
					and being the urban diagnostics is uniquely placed to become the
					premier diagnostic centre for doctors and patients.</p>

				<p>Being founded by group of highly qualified entrepreneurial
					professionals including Doctors with diversified experience and
					also cross cultural exposure have designed an extraordinary and an
					ultramodern healthcare destination.</p>
				<p>The company is one of the few healthcare and diagnostics
					which has on its panel a large team of fully qualified
					Pathologists, clinical Biochemists, MD Physicians, Gynaecologists,
					and Paediatricians and qualified Technologists and support staff
					who ensure quick turnaround time.</p>
				<p>The company has been continuously investing in large clinic
					spaces, advanced diagnostic equipment’s sourced from world experts
					in their respective fields. Not to mention, our timely investments
					in advanced IT systems to facilitate across the board access of
					cases and facilities for online reporting.</p>
				<p>The centre have well trained receptionists and managers who
					make it their mission in making patients feel comfortable and at
					ease at the reception desk.</p>
				<p> Keeping in mind that in India quality healthcare services are
					still not affordable or either not reachable easily to many.</p>
				<p> Astra Diagnostics continues to raise the bar to achieve
					optimum accuracy and precision, besides constantly endeavouring to
					propagate wellness and preventive healthcare through series of
					health check-up packages and patient care initiatives.</p>
								
								</div>
								
										
										
											
												<div class="modal-footer">
													<button type="button" class="btn btn-default btn-sm"
														data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
                                  
									  
						<div class="item">
							<div class="container-fluid">
									
						<h4> Vision  </h4>
						<ul>
					<li>Leader in healthcare</li>
					<li>Excellent Health for the Nation</li>
				</ul>
									  
					</div>
                   </div>					
									  
							
						
             
						<div class="item">
				<div class="container-fluid">		  
						

							<h4> Objectives	</h4>
					<p>	<strong>Focus</strong>: Our main focus is to provide a
					comprehensive healthcare solution to all our patients
				</p>
					<p>
					<strong>Team</strong>: the continuous effort of our excellent,
					hard working and passionate and highly qualified and experienced
					team enables us to endeavor the best and world class facilities
				</p>
				<p>
					<strong>Quality</strong>: we maintain and run our organization
					according to the quality norms and standards and regular monitoring
					is done by the quality team in every step of our services
				</p>
				<p>
					<strong>Goal</strong>: To achieve and strive our level best in
					making quality health care services reachable and available at an
					affordable price to all the people
				</p>		  
									  
				</div>
             </div>		

					
               
						
							  
								
						
				
					
					     <div class="item">
							<div class="container-fluid">
               		
							<h4> Core Values </h4>
				   <ul>
									
					<li>Compassion</li>
					<li>Collaboration</li>
					<li>Integrity</li>
				</ul>
			</div>
		</div>	
									  
						    
             <div class="item">
			<div class="container-fluid">	  
							<h4> Our Quality Priorities </h4>
					
						
						<p>
					<strong>Safety</strong>: Providing a safe and secure environment
					for our patients, their families and all staff
				</p>
				
			<p>	<strong>Professionalism</strong>: Doing job to the best of our
					ability and doing our best as a team
				</p>
				<p>
					<strong>Respect</strong>: Valuing the dignity, privacy, needs and
					contributions of all we work with and serve.
				</p>
				<p>
					<strong>Experience</strong>: Putting ourselves in the shoes of
					those we serve and work with to consistently deliver the best
					possible experience
				</p>
				<p>
					<strong>Efficiency</strong>: Making full use of resources to
					improve processes and outcomes
				</p>

					</div>		  
					</div>		
                      
							
						<div class="item">
								<div class="container-fluid">
		  
								<h4>Mission </h4>
						<ul>
					<li>Leader in healthcare</li>
					<li>Excellent Health for the Nation</li>
				</ul>	  
									  
				</div>
               <div>			
					
					
					
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</section>
		</body>
		</html>