<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Administration</title>
</head>
<body>
	<section layout:fragment="content">
		<div>
			<p>Upload Clinic Data</p>
			<form th:action="@{/clinic-data-upload}" method="post" role="form"
				enctype="multipart/form-data">
				<input type="file" name="clinicdatafile" /> <input type="submit" />
			</form>
		</div>
		<div>
			<p>Upload Test Data</p>
			<form th:action="@{/test-data-upload}" method="post" role="form"
				enctype="multipart/form-data">
				<input type="file" name="testdatafile" /> <input type="submit" />
			</form>
		</div>
	</section>
</body>
</html>