
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout">
<head>
	 <title>About Us</title>
</head>
<body>
	<section layout:fragment="content">
	<div class="row">
	
		<div class="col-md-4">
			<h4>About Us</h4>
				<div class="list-group" >
		    		<a href="#" data-target="#contentDiv" class="list-group-item">About Us</a>
		 			<a href="#" data-target="#contentDiv" class="list-group-item">Vision</a>
		  			<a href="#" data-target="#contentDiv" class="list-group-item">Mission</a>
		  			<a href="#" data-target="#contentDiv" class="list-group-item">Quality</a>
				</div>
		</div>
		
		<div class="col-md-3">
			<img th:src="@{/resources/img/healthcare.jpg}" class="img-responsive" />
		</div>
		
		<div class="col-md-6" id="contentDiv">
		
		
		</div>
		
	</div>
    </section>
</body>
</html>