<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Clinic Booking</title>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />

<script>
	$(function() {
		var speciality = 'not set';
		var location = 'not set';
		var doctorId = '';
		var slotId='';
		
		var date = new Date();
		console.log(speciality);
		$('#form').hide();

		$('#submitbtn').click(function(){
			$.ajax({
				url : "api/bookings/slotBooking",
				data : {
					"slotId" : slotId,
					"slotTime" : $('#slotsDropdown').val(),
					"name" : $('#name').val(),
					"mobile" : $('#mobile').val()
				},
				success : function(result) {
					console.log(result);

					if (result.status == "OK") {
		alert("Booking completed");
						

					}
				}
		});
		});
		
		$("#datebtn").click(
				function() {
					date = $('#datetimepicker').val();
					doctorId = $('input[name=doctor]:checked', '#displayArea').val();
					$('#form').show();

					$.ajax({
						url : "api/slotsByDate",
						data : {
							"clinicId" : "10",
							"doctorId" : doctorId,
							"date" : date
						},
						success : function(result) {
							console.log(result);

							if (result.status == "OK") {

								//$('#slotsDropdown')
								$('#slotsDropdown').find('option').remove();
								$('#slotdisplayArea').html('');
								slotId=result.slotModel.id;
								$.each(result.slotModel.slots, function(index, slot) {
									console.log(slot);
									$('#slotsDropdown').append($('<option></option>', { 
								        value: slot,
								        text : slot
								    }));
									//$('#slotsDropdown').append('<option></option>').val(slot);
								});
								

								/* $('#slotdisplayArea').append(slotContent); */
								$('#slotbookingArea').show();

							}

						} // End Success : function
					}); // End Ajax
				});

		$(".clinicspeciality").click(function() {
							$('#slotbookingArea').hide();
							$('#dateArea').hide();
							$('#form').hide();
							console.log("In search btn click ");
							console.log(speciality);
							speciality = $(this).context.id;
							console.log(speciality);
							location = "hyderabad";
							type = "clinic";
							console.log(location);
							console.log("sending ajax req");
							$.ajax({
										url : "api/doctor",
										data : {
											"speciality" : speciality,
											"location" : location,
											"type" : type
										},
										success : function(result) {
											console.log(result);
											if (result.status == "OK") {
												$('#displayArea').html('');
												if (result.doctors.length == 0) {
													$('#displayArea')
															.append(
																	'<center><h3 class="style-heading" >No Doctors availale  for '
																			+ speciality
																			+ ' in '
																			+ location
																			+ ' </h3></center>');
												}
												$.each(result.doctors,function(index,item) {
																	var htmlContent = '';
																	htmlContent = htmlContent
																			+ "<h3>"
																			+ '<input type="radio"  name="doctor" value="'+  item.id  + '"  class="doctor"  />'
																			+ item.name
																			+ "</h3>";

																	console.log(index+ " => "+ item.name);
																	$('#displayArea').append(htmlContent);
																}); // End $.each
											} // End STatus OK
												$(".doctor").click(function() {
												$('#slotsDropdown').find('option').remove();
												$('#dateArea').show();
											})
										} // End Success : function
									}); // End Ajax
							console.log("ajax req sent");
						});
						$("#bookbtn").click(function() {
							$('#form').show();
						})
	});
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">

					<div>
						<h2>Clinic Booking</h2>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<ul class="nav">
						<li id="Gynecolagist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="1">
								<p id="li1" class="list-group-item-text">Gynecolagist</p>
						</a></li>
						<li id="Orthopaedician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="2">
								<p class="list-group-item-text">Orthopaedician</p>
						</a></li>
						<li id="Cardiologist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="3">
								<p class="list-group-item-text">Cardiologist Checks</p>
						</a></li>
						<li id="Pediatrician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="4">

								<p class="list-group-item-text">Pediatrician</p>
						</a></li>
						<li id="Ent Surgeon" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="5">
								<p class="list-group-item-text">Ent Surgeon</p>
						</a></li>
						<li id="Endocrinologist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="6">
								<p class="list-group-item-text">Endocrinologist</p>
						</a></li>
						<li id="Nephrologist" class="clinicspeciality"><a href="#"
							class="list-group-item  liststyles"
							data-target="#custom_carousel" data-slide-to="7">
								<p id="li1" class="list-group-item-text">Nephrologist</p>
						</a></li>
						<li id="Neurosurgeon" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="8"><p class="list-group-item-text">Neurosurgeon</p>
						</a></li>
						<li id="Neuro Physician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="9"><p class="list-group-item-text">Neuro
									Physician</p> </a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="displaystyle">
						<div id="displayArea" style="background-color: cyan;"></div>
					</div>
				</div>
				<div class="col-md-3">
					<div id="example">
						<div id="dateArea" style="display: none;">
							Preferred Date And Time <input id="datetimepicker"
								style="width: 80%;" />
							<div class=" controls">
								<button id="datebtn" class="btn btn-success">
									<i class="glyphicon glyphicon-send"></i>Get Slot
								</button>

							</div>
							<div>
								<select id="slotsDropdown"></select>
							</div>
						</div>
						
						<div id="slotbookingArea" style="display: none;">
							
							<div id="slotdisplayArea" style="background-color: cyan;"></div>
							<div class=" controls">
								<button id="bookbtn" class="btn btn-success">
									<i class="glyphicon glyphicon-send"></i>Book
								</button>

							</div>

							<script>
								$(function() {
									$("#datetimepicker").datepicker({
										dateFormat : "yy-mm-dd"
									});

								});
							</script>

						</div>



					</div>
				</div>

				
					
				<div class="col-md-3" sec:authorize="isAnonymous()"><div id="form">
					<span for="name" class="blocklabel">Name</span><br /> <input
						name="name" type="text" id="name" style="width: 280px;" />
					<br/>
					<span for="mobile" class="blocklabel">Mobile</span> <br /> <input
						name="mobile" type="text" id="mobile" style="width: 280px;"/>
					<br/>
					<span for="age" class="blocklabel">Age</span> <br />
					<input name="age" type="text" id="age" style="width: 280px;"/><br/>

				<br/>
					<button id="submitbtn" type="submit"
						class="btn btn-primary btn-md">Submit</button>
				</div><br/>
				<br/>
				
		</div>
<button id="submitbtn" type="submit"
						class="btn btn-primary btn-md">Submit</button>
					</div>
				</div>

		


	</section>
</body>
</html>