<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Clinic Booking</title>

<script>
	$(function() {
		var speciality = 'not set';
		var location = 'not set';
		var doctorId = '';
		var slotId='';
		
		var date = new Date();
		console.log(speciality);
		$('#form').hide();

		$('#submitbtn').click(function(){
			
			$.ajax({
				url : "api/bookings/slotBooking",
				data : {
					"slotId" : $('#slotsDropdown').val().split(",")[0],
					"slotTime" : $('#slotsDropdown').val().split(",")[1],
					"name" : $('#name').val(),
					"mobile" : $('#mobile').val()
				},
				success : function(result) {
					console.log(result);

					if (result.status == "OK") {
						
							$('#output').empty();
							$('#output').append("<h2>Booking Completed Successfully...</h2>");
						

					}
				}
		});//submittn Ajax End
		});
		
		$("#datebtn").click(function() {
					date = $('#datetimepicker').val();
					doctorId = $('input[name=doctor]:checked', '#displayArea').val();
					$('#form').show();
					$('#output').empty();

					$.ajax({
						url : "api/slotsByDate",
						data : {
							"doctorId" : doctorId,
							"date" : date
						},
						success : function(result) {
							console.log(result);

							if (result.status == "OK") {

								$('#slotsDropdown').find('option').remove();
								$('#slotdisplayArea').html('');
								/* 
								console.log("Slots");
								console.log(result.slotModel);
								console.log("Booked Slots");
								console.log(result.bookedSlots);
								var diff = $(result.slotModel.slots).not(result.slotModel.bookedSlots).get();
								console.log("Diff");
								console.log(diff);  */
							
									
								$.each(result.slotModel, function(index, slot) {
									console.log(slot);
									$('#slotsDropdown').append($('<option></option>', { 
								       value: slot.id+","+slot.time,
								       text : slot.time
								   }));
								
								});
							
								$('#slotbookingArea').show();

							}

						} // End Success : function
					}); // Get Slots  Ajax End
				});

		$(".clinicspeciality").click(function() {
							$('#slotbookingArea').hide();
							$('#dateArea').hide();
							$('#form').hide();
							console.log("In search btn click ");
							console.log(speciality);
							speciality = $(this).context.id;
							$('#output').empty();
							console.log(speciality);
							location = "hyderabad";
							type = "clinic";
							console.log(location);
							console.log("sending ajax req");
							$.ajax({
										url : "api/doctor",
										data : {
											"speciality" : speciality,
											"location" : location,
											"type" : type
										},
										success : function(result) {
											console.log(result);
											if (result.status == "OK") {
												$('#displayArea').html('');
												if (result.doctors.length == 0) {
													$('#displayArea')
															.append(
																	'<center><h4 >No Doctors availale  for '
																			+ speciality
																			+ ' in '
																			+ location
																			+ ' </h4></center>');
												}
												$.each(result.doctors,function(index,item) {
																	var htmlContent = '';
																	htmlContent = htmlContent
																			+ "<h3>"
																			+ '<input type="radio"  name="doctor" value="'+  item.id  + '"  class="doctor"  />'
																			+ item.name
																			+ "</h3>";

																	console.log(index+ " => "+ item.name);
																	$('#displayArea').append(htmlContent);
																}); // End $.each
											} // End STatus OK
												$(".doctor").click(function() {
												$('#slotsDropdown').find('option').remove();
												$('#slotbookingArea').hide();
												$('#dateArea').show();
												$('#output').empty();
											})
										} // End Success : function
									}); // End Ajax
							console.log("ajax req sent");
						});
					
	});
</script>
<script>
								$(function() {
									$("#datetimepicker").datepicker({
										dateFormat : "yy-mm-dd"
									});

								});
							</script>
</head>
<body>
	<section layout:fragment="content">
					<div class="row">
				<div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">

					<div>
						<h2>Clinic Booking</h2>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<ul class="nav">
						<li id="Gynecologist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="1">
								<p id="li1" class="list-group-item-text">Gynecologist</p>
						</a></li>
						<li id="orthopedician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="2">
								<p class="list-group-item-text">Orthopedician</p>
						</a></li>
						<li id="Cardiologist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="3">
								<p class="list-group-item-text">Cardiologist</p>
						</a></li>
						<li id="Pediatrician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="4">

								<p class="list-group-item-text">Pediatrician</p>
						</a></li>
						<li id="Ent Surgeon" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="5">
								<p class="list-group-item-text">Ent Surgeon</p>
						</a></li>
						<li id="Endocrinologist" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="6">
								<p class="list-group-item-text">Endocrinologist</p>
						</a></li>
						<li id="Nephrologist" class="clinicspeciality"><a href="#"
							class="list-group-item  liststyles"
							data-target="#custom_carousel" data-slide-to="7">
								<p id="li1" class="list-group-item-text">Nephrologist</p>
						</a></li>
						<li id="Neurosurgeon" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="8"><p class="list-group-item-text">Neurosurgeon</p>
						</a></li>
						<li id="Neuro Physician" class="clinicspeciality"><a href="#"
							class="list-group-item liststyles" data-target="#custom_carousel"
							data-slide-to="9"> <p class="list-group-item-text">Neuro
									Physician</p> </a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="displaystyle">
						<div id="displayArea"></div>
					</div>
				</div>
				<div class="col-md-3">
					
						
						<div id="dateArea" style="display: none;" >
							Preferred Date And Time <input id="datetimepicker"
								style="width: 80%;" />
							<div class=" controls">
								<button id="datebtn" class="btn btn-success">
									<i class="glyphicon glyphicon-send"></i>Get Slot
								</button>

							</div>
							<div id="slotbookingArea" style="display: none;">
								<select id="slotsDropdown"></select>
								<div sec:authorize="!isAnonymous()">
				<button id="submitbtn" type="submit"
						class="btn btn-primary btn-md">Submit</button></div>
							</div>
							<div id="output" class="clinicbookingstyle"></div>
						</div>
						
					
						
					</div>
				

				
					
				<div class="col-md-3" sec:authorize="isAnonymous()"><div id="form">
					<span for="name" class="blocklabel">Name</span><br /> <input
						name="name" type="text" id="name" style="width: 280px;" />
					<br/>
					<span for="mobile" class="blocklabel">Mobile</span> <br /> <input
						name="mobile" type="text" id="mobile" style="width: 280px;"/>
					<br/>
					<span for="age" class="blocklabel">Age</span> <br />
					<input name="age" type="text" id="age" style="width: 280px;"/><br/>

				<br/>
					<button id="submitbtn" type="submit"
						class="btn btn-primary btn-md">Submit</button>
				</div>
				
		</div>
		</div>		
 
	</section>
</body>
</html>