<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Diagnostics Booking</title>
<script type="text/javascript" src="resources/custom/jquery-1.11.3.js"></script>
<script type="text/javascript" src="resources/custom/lakshman.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<style>
.col-md-offset-3 {
	margin-left: 10%;
}

.btn1 {
	margin-left: 40%;
	margin-bottom: 2%;
}

#loc {
/* 	display: none; */
	margin-left: 30%;
	margin-bottom: 2%;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
</style>
<script>
	
	$(function() {	
		var speciality = 'not set';
		var location = 'not set';
		
		console.log(speciality);
		
		$(".labspeciality").click(function(){
			speciality = $(this).context.id ;
			console.log(speciality);
		});
		
		
		$("#clinicSearchBtn").click(function(){
			console.log("In search btn click ");
			console.log(speciality);
			location = $("#location").val();
			console.log(location);
			
			
			console.log("sending ajax req");
			$.ajax({url: "api/labs", 
				data:{"speciality":speciality,"location":location},
				success: function(result){
					console.log(result);
					if(result.status == "OK"){
						$('#displayArea').html('');
							if(result.clinics.length==0){
								$('#displayArea').append('<center color="red"><h3>No results found for for ' +  speciality +' in ' +  location +' </h3></center>');
							}
						$.each(result.clinics, 
								function(index, item) {
									
									var htmlContent = '<div class="col-md-4">';
									htmlContent = htmlContent + '<h3 class="style-heading">' + item.clinicName + "</h3>";
									htmlContent = htmlContent + "<p>" + item.clinicDesc + "</p>";
									htmlContent = htmlContent + "<p>" + item.clinicAddress + "</p>";
									htmlContent = htmlContent + "<p>" + item.clinicPhones + "</p>";
									
									console.log(index + " => " + item.clinicName);
									htmlContent = htmlContent + "</div>";
									$('#displayArea').append(htmlContent);
								}
						);
					}
				}
				});
			console.log("ajax req sent");
			
		});
		
	});
	
	</script>

</head>

<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">Diagnostics Booking</div>

					</div>

					<div class="row">
						<div class="row">
							<div class="col-md-4">
								<div class="row top-buffer" align="center">

									<img id="thyroid" class="labspeciality" border="10"
										style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp6.jpg}" /> <br /> 
                                               Thyroid
								</div>
							</div>



							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Heart" class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp7.jpg}" /> <br /> Heart

								</div>
							</div>







							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Sugar"  class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp1.jpg}"  /> <br />
									Sugar


								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Liver" class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/kp1.jpg}" /> <br />
									Liver

								</div>
							</div>


							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Kidny" class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp3.jpg}"  /> <br />
									Kidney

								</div>
							</div>


							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Bones" class="labspeciality"  style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp5.jpg}" /> <br />
									Bones

								</div>
							</div>
						</div>


						<div class="row">

							<div class="col-md-4">
								<div class="row top-buffer" align="center">

									<img id="BloodPlessure" class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp2.jpg}"/> <br />
									BloodPlessure

								</div>
							</div>

							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="Infertility" class="labspeciality" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp4.jpg}" /> <br />
									Infertility

								</div>
							</div>






							<div class="col-md-4">
								<div class="row top-buffer" align="center">
									<img id="bp8" style="width: 60px; height: 60px;"
										th:src="@{/resources/img/bp8.jpg}" /> <br />
									Pregtnacey

								</div>
							</div>
						</div>


						<br />

						<div id="loc">
							<span> <strong>Location:</strong>
							</span> <input id="location" class="btn btn-primary round-squre" />
						</div>
						<br />








						<button id="clinicSearchBtn" class="btn1 btn-success btn-lg">Serach</button>
					</div>


				</div>
			</div>
			`

		</div>

		<div class="row">
			<div id="displayArea"></div>
		</div>

	</section>
</body>
</html>