<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Diagnostics Booking</title>
<script type="text/javascript">
$(function(){

				$.ajax({

					url : "api/lab/type",
					data : {

					},
					success : function(result) {
						console.log(result);
						if (result.status == "OK") {
						
							$.each(result.results, function(index, item) {
								var htmlContent = '';
								htmlContent = htmlContent
										+ "<p>"
										+ '<input type="radio"  name="labTest" value="'+  item.id + '"  class="labTest"  />'
										+ item.name
										+ "</p>";

								console.log(index+ " => "+ item.name);
								$('#labTypeDiv').append(htmlContent);
							});//each loop end

						}//ok end
						$(".labTest").click(function(){
							$('#slotbookingArea2').hide();
							$('#dateArea2').hide();
							$('#form2').hide();
							$('#output2').empty();
							
							$('#labSubTypeDiv').empty();
							
							var id=$(this).attr('value');
							var url="api/lab/subType/"+id;
							$
									.ajax({
										url : url,
										data : {

										},
										success : function(
												result) {
											console
													.log(result);
											if (result.status == "OK") {

												$('#labSubTypeDiv').html('');
												
												$.each(result.results,function(
																		index,
																		item) {
																	var htmlContent = '';
																	htmlContent = htmlContent
																			+ "<p>"
																			+ '<input type="radio"  name="subtype" value="'+  item.id  + '"  class="subtype"  />'
																			+ item.name
																			+ "</p>";

																	console
																			.log(index
																					+ " => "
																					+ item.name);
																	$(
																			'#labSubTypeDiv')
																			.append(
																					htmlContent);
																}); // End $.each
											} // End STatus OK


$('.subtype').click(function() {
	var d = new Date();
	var date = (d.getFullYear())+'-'+(d.getMonth()+1)+ '-' +(d.getDate());
	$('#datetimepicker2').val(date).change();
$('#dateArea2').show();
			});
																}

									});
				
						});
					}//Success End
				});//Ajax End
			 	$('#datetimepicker2').change(
						function() {
							var date2 = $('#datetimepicker2').val();
							$('#form2').show();
							$('#output2').empty();
							$('#slotsDropdown2').find('option').remove();
							var id=$('input[name=subtype]:checked', '#labSubTypeDiv').val();;
					
							$.ajax({
								url : "api/lab/slots",
								data : {
									subTypeId :id ,
									date : date2
								},
								success : function(result) {
									console.log(result);
									if (result.status == "OK") {
										$('#slotsDropdown2').find('option').remove();
				$('#slotdisplayArea2').html('');
				$('#slotdisplayArea2').show();
			
				$.each(result.results, function(index, slot) {
					$.each(slot.availableSlots, function(index, item) {
					console.log(item);
					$('#slotsDropdown2').append(
							$('<option></option>', {
								value : item.id,
								text : item.slotTime
							}));

					});
					});
				$('#slotbookingArea2').show();// End $.each
			} // End STatus OK

								}

							});

						});
				/*Lab booking Submitbtn  */
				$('#submitbtn2').click(function(){
					
					$.ajax({
						type : "POST",
						url : "api/lab/booking",
						data :{
							slotId : $('#slotsDropdown2').val(),
							address :$('#labbookingaddress').val(),
							mobile : $('#labbookingmobile').val(),
							name :$('#labbookingname').val(),
							source :$('#labbookingsource').val(),
							receive_mode :$('#recievemode').val()
						},
						success : function(result) {
							console.log(result);

							if (result.status == "OK") {


								$('#output2').empty();
								
								$('#output2').append(
										"<h4>Booking Completed Successfully"+"<br/>"+"Slot time:"+result.results[0].slotTime+"<br/>"+"Test:"
										+result.results[0].testName
										+"<br/>"+"Recieve Mode:"+result.results[0].receiveMode+"</h4>"
										
										);

							}
						}
					});
					
				});

			
});

</script>
<script>
	$(function() {
		$("#datetimepicker2").datepicker({
			dateFormat : "yy-mm-dd",
			minDate: 0
		});

	});
</script>

</head>

<body>
	<section layout:fragment="content">
		<div class="row">

		<div id="addLabBookingDiv" >
				<div id="labTypeDiv" class="col-md-2">
		</div>
				<div id="labSubTypeDiv" class="col-md-2"></div>
				<div id="dateArea2" style="display: none;" class="col-md-4">
									Preferred Date And Time <input id="datetimepicker2"
										style="width: 80%;" />
								<br/>
									<div id="slotbookingArea2" style="display: none;">
										<select id="slotsDropdown2"></select> 
									<br/>
							<div id="output2" class=" alert alert-success"></div>
									</div>
								</div>
				<div class="col-md-2" >
					<div id="form2" style="display: none;">
						<div class="col-md-3">
							<div sec:authorize="isAnonymous()">
								<span for="labbookingname" class="blocklabel">Name</span><br /> 
									<input name="labbookingname" type="text" id="labbookingname" style="width: 280px;" /><br/>
								<span for="labbookingmobile" class="blocklabel">Mobile</span> <br /> 
									<input name="labbookingmobile" type="text" id="labbookingmobile" style="width: 280px;"/><br/>
								<span for="labbookingaddress" class="blocklabel">Address</span><br /> 
									<textarea name="labbookingaddress"  id="labbookingaddress" style="width: 280px;"></textarea><br/>
								<span for="labbookingsource" class="blocklabel">Source</span><br />
								<select id="labbookingsource">
									<option value="reference">Reference</option>
									<option value="practo">Practo</option>
								</select><br/>
							</div>
							<div>
								<span for="recievemode" class="blocklabel">recieve_mode</span><br />
								<select id="recievemode">
									<option value="walkin">Walkin</option>
									<option value="homepickup">Home Pickup</option>
									</select> 	
								<br/>
									<button id="submitbtn2" type="submit" class="btn btn-primary btn-md">Submit</button>
								
							</div>
						</div>
			
				</div>
				
		</div>
				</div>
</div>
	</section>
</body>
</html>