<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<div ng-app="userApp" ng-controller="userAppCtrl">
			<div class="row" style="margin: 500">
				<span sec:authentication="name" class="pull-right"></span>
			</div>
			<div class="row">
				<div class="col-md-2">
					<button class="btn btn-primary" ng-click="OnMyBookingsClick()">My
						Bookings</button>
				</div>
				<div class="col-md-10">

					<table class="table table-striped">
						<tr ng-repeat="booking in current_bookings">
							<td>{{booking.slotTime}}</td>
							<td>{{booking.doctor.name}}</td>
						</tr>
					</table>

				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var userApp = angular.module('userApp', []);
		userApp.controller('userAppCtrl', function ($scope,$http) {
			$scope.inprogress = false;
			$scope.current_bookings = [];
			$scope.OnMyBookingsClick = function(){
				$http({
					  method: 'GET',
					  url: 'api/bookings/myBookings',
					}).then(function successCallback(response) {
						if(response.data.status == "OK"){
							console.log("OK Response");
							$scope.current_bookings = response.data.bookings;
							$scope.showMessage = response.data;
							$scope.showSuccess = true;
						}
						else{
							console.log("Error Response");
							$scope.showMessage = response.data;
							$scope.showSuccess = false;
						}
						$scope.inprogress = false;
						console.log(response.data);
					  }, function errorCallback(response) {
						  console.log("HTTP Error");
						    $scope.showMessage = "Try again";
						    $scope.showSuccess = false;
						    $scope.inprogress = false;
						    console.log(response);
					  });
			};
			
		});
		/*]]>*/
	  </script>

	</section>
</body>
</html>