<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
		<br/><br/>
			<div id="myCarousel" class="carousel slide" data-ride="carousel"
				data-interval="5000">
				<div class="carousel-inner" role="listbox">
					<div class="item">
						<img th:src="@{/resources/img/Health.jpg}" alt=" " />
					</div>
					<div class="item">
						<img th:src="@{/resources/img/Health2.jpg}" alt=" " />
					</div>
					<div class="item active">
						<img th:src="@{/resources/img/Health3.jpg}" alt=" " />
					</div>

				</div>

				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			
			
			<div class="overlap6 bg-darkViolet" >
		
				<div class="row top-buffer " style="margin-left: 10px;">
					<div class="mytile overlap1 bg-MEDIUMORCHID" >
						<p>Clinics</p>
						<a th:href="@{/clinic-booking}"
							class="btn btn-default round-corner" style="margin-top: 50px;">Book
							Appointment</a>
					</div>

					<div class="mytile2 overlap2 bg-DODGERBLUE">
						<p>Diagnostics</p>
						<a th:href="@{/diagnostics-booking}"
							class="btn btn-default round-corner" style="margin-top: 60px;">Book
							your Test</a>
					</div>

					<div class="mytile3 overlap3 bg-MEDIUMSEAGREEN">
						<p>Pharmacy</p>
						<a th:href="@{/pharmacy-booking}"
							class="btn btn-default round-corner" style="margin-top: 70px;">Book
							your Medicine</a>
					</div>

					<div class="mytile4 overlap4 bg-SALMON">
						<p>CorporateHealth</p>
						<a th:href="@{/CarporateHealth-booking}"
							class="btn btn-default round-corner" style="margin-top: 60px;">Book
							an Appointment</a>
					</div>

					<div class="mytile5 overlap5 bg-MEDIUMTURQUOISE">

						<p>Second Opinion</p>


						<a th:href="@{/SecondOpinion-talk}"
							class="btn btn-default round-corner" style="margin-top: 50px;">
							Talk</a>
					</div>


				</div>
				<div class="overlap7 ">
					<div class="container">
						<section>
		<div id="myCarouseltxt" class="carousel slide" data-ride="carousel" data-interval="5000">
				<div class="carousel-inner" role="listbox">
					<div class="item">
										<div class="container" align="center">
											<p>
												<strong style="color: red; font-size: medium;"><h2>Tolerant
														immune system may be a risk factor for some cancers -</h2> </strong>
											</p>
											<p>New research suggests that a tolerant immune system
												may be an independent risk factor for the development of
												lung, colorectal and ER-negative breast cancers.</p>




										</div>
									</div>
									<div class="item" align="center">

										<p>
											<strong style="color: yellow; font-size: medium;"><h2>Tolerant
													immune system may be a risk factor for some cancers -</h2> </strong>
										</p>
										<p>New research suggests that a tolerant immune system may
											be an independent risk factor for the development of lung,
											colorectal and ER-negative breast cancers.</p>



									</div>
									<div class="item active">
										<div class="container" align="center">

											<p>
												<strong style="color: #dc4fad; font-size: medium;"><h2>Tolerant
														immune system may be a risk factor for some cancers -</h2> </strong>
											</p>
											<p>New research suggests that a tolerant immune system
												may be an independent risk factor for the development of
												lung, colorectal and ER-negative breast cancers.</p>

										</div>

									</div>
								</div>
								<a class="left carousel-control" href="#myCarouseltxt"
									role="button" data-slide="prev"> <span
									class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a> <a class="right carousel-control" href="#myCarouseltxt"
									role="button" data-slide="next"> <span
									class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>

							</div>
						</section>
					</div>
				</div>
			</div>
			</div>

		
	</section>
</body>
</html>