<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Lab</title>


<script>
	$(function() {
		var testsTable = $('#testsTable').DataTable();
		var testSubTypesTable = $('#testSubTypesTable').DataTable();
		
		testsTable.clear().draw();
		testSubTypesTable.clear().draw();
		
		$('.alert .close').on('click', function(e) {
		    $(this).parent().hide();
		});

		$('.contentDiv').hide();
		$('.ajaxLoad').hide();
		//$('#registerTestTypeAjaxLoad').hide();
		$('#addTestDiv').show();
		
		$('.contentSelection').click(function() {
			$('.contentDiv').hide();
			$('#' + $(this).attr('id') + 'Div').show();
		});
		
		$('#testSubTypeHomePickUp-addSubType').change(function(){
			   $("#testSubTypeMaxHomePickUp-addSubType").prop("disabled", !$(this).is(':checked'));
		}); 
		
		$("#addTest").click(function(){
			$('#addTestsubmit-errorDiv').hide();
			$('#addTestsubmit-error').text("");
			$.ajax({
				url : "api/lab/type",
				method: "GET",
				beforeSend: function( xhr ) {
				    // TODO Display ajax loading spinner some where
				 }
			})
			.done(function(result) {
				
				if (result.status == "OK") {
					testsTable.clear().draw();
					$.each(result.results, function(index,type){
						testsTable.row.add([type.id, type.name]).draw( false );
					});
					
				}
				else{
					// TODO Display dismissible alert somewhere
				}
				console.log(result);
			})
			.fail(function() {
				// TODO Display dismissible alert somewhere
			})
			.always(function() {
				// TODO Hide ajax loading spinner some where
			})
			;
		}); // addTest click end
		
		
		$("#addTestSubType").click(function(){
			$('#addTestSubTypesubmit-errorDiv').hide();
			$('#addTestSubTypesubmit-error').text("");
			$("#testSubTypeMaxHomePickUp-addSubType").prop("disabled", true);
			$('#testSubTypeHomePickUp-addSubType').attr('checked', false);
			
			
			$.ajax({
				url : "api/lab/type",
				method: "GET",
				beforeSend: function( xhr ) {
				    // TODO Display ajax loading spinner some where
				 }
			})
			.done(function(result) {
				
				if (result.status == "OK") {
					
					$('#testType-addSubType').find('option').remove();
					$.each(result.results, function(index,type){
						
						$('#testType-addSubType').append(
							$('<option></option>', {
								value : type.id,
								text : type.name
							})
						);
					});
					
				}
				else{
					// TODO Display dismissible alert somewhere
				}
				console.log(result);
			})
			.fail(function() {
				// TODO Display dismissible alert somewhere
			})
			.always(function() {
				// TODO Hide ajax loading spinner some where
			})
			; // Ajax end
			
			$.ajax({
				url : "api/lab/subType",
				method: "GET",
				beforeSend: function( xhr ) {
				    // TODO Display ajax loading spinner some where
				 }
			})
			.done(function(result) {
				if (result.status == "OK") {
					testSubTypesTable.clear().draw();
					$.each(result.results, function(index,type){
						testSubTypesTable.row.add([type.id, type.name, type.description, type.duration, type.home_pickup,
						                           type.max_homepickup_bookings, type.max_online_bookings, type.online_booking]).draw( false );
						console.log(type);
					});	
				}
				else{
					// TODO Display dismissible alert somewhere
				}
				console.log(result);
			})
			.fail(function() {
				// TODO Display dismissible alert somewhere
			})
			.always(function() {
				// TODO Hide ajax loading spinner some where
			})
			; // Ajax end
		}); // addTestSubType click end
		
		$("#addTest").click();
		//$("#addTestSubType").click();
		
		$('#addTestsubmit').click(function() {
			$.ajax({
				url : "api/lab/type",
				method: "POST",
				data : {
					name : $('#testName').val()
				},
				beforeSend: function( xhr ) {
				    //alert("Before Sending");
					$('#registerTestTypeAjaxLoad').show();
				 }
			})
			.done(function(result) {
				if (result.status == "OK") {
					$("#addTestsubmit-errorDiv").removeClass().addClass('alert alert-success');
					$('#addTestsubmit-error').text("Test Added");
					$('#addTestsubmit-errorDiv').show();
					testsTable.clear().draw();
					$.each(result.results, function(index,type){
						testsTable.row.add([type.id, type.name]).draw( false );
					});
				}
				else{
					$("#addTestsubmit-errorDiv").removeClass().addClass('alert alert-danger');
					$('#addTestsubmit-error').text("Unable to add test. " + result.message);
					$('#addTestsubmit-errorDiv').show();
				}
				//console.log(result);
			})
			.fail(function() {
				$("#addTestsubmit-errorDiv").removeClass().addClass('alert alert-danger');
				$('#addTestsubmit-error').text("Unable to add test");
				$('#addTestsubmit-errorDiv').show();
				alert( "error" );
			})
			.always(function() {
				$('#registerTestTypeAjaxLoad').hide();
			})
			; // Ajax End
		}); // addTestsubmit
		
		$('#addTestSubTypesubmit').click(function() {
			$.ajax({
				url : "api/lab/subType",
				method: "POST",
				data : {
					typeId : $('#testType-addSubType').val(),
					name : $('#testSubTypeName-addSubType').val(),
					description : $('#testSubTypeDescription-addSubType').val(),
					duration : $('#testSubTypeDuration-addSubType').val(),
					home_pickup : $('#testSubTypeHomePickUp-addSubType').is(":checked"),
					max_homepickup_bookings : $('#testSubTypeMaxHomePickUp-addSubType').val() || 0,
					max_online_bookings : $('#testSubTypeMaxOnline-addSubType').val(),
					online_booking : $('#testSubTypeOnlineReports-addSubType').is(":checked"), // This should be on line reports. to change on server side
					startTime : $('#testSubTypeStartTime-addSubType').val(),
					endTime : $('#testSubTypeEndTime-addSubType').val()
				},
				beforeSend: function( xhr ) {
				    //alert("Before Sending");
					$('#registerTestSubTypeAjaxLoad').show();
				 }
			})
			.done(function(result) {
				if (result.status == "OK") {
					$("#addTestSubTypesubmit-errorDiv").removeClass().addClass('alert alert-success');
					$('#addTestSubTypesubmit-error').text("Sub Type Added");
					$('#addTestSubTypesubmit-errorDiv').show();
					testSubTypesTable.clear().draw();
					$.each(result.results, function(index,type){
						testSubTypesTable.row.add([type.id, type.name, type.description, type.duration, type.home_pickup,
						                           type.max_homepickup_bookings, type.max_online_bookings, type.online_booking]).draw( false );
						console.log(type);
					});
				}
				else{
					$("#addTestSubTypesubmit-errorDiv").removeClass().addClass('alert alert-danger');
					$('#addTestSubTypesubmit-error').text("Unable to add sub type. " + result.message);
					$('#addTestSubTypesubmit-errorDiv').show();
				}
				//console.log(result);
			})
			.fail(function() {
				$("#addTestSubTypesubmit-errorDiv").removeClass().addClass('alert alert-danger');
				$('#addTestSubTypesubmit-error').text("Unable to add sub type");
				$('#addTestSubTypesubmit-errorDiv').show();
				alert( "error" );
			})
			.always(function() {
				$('#registerTestSubTypeAjaxLoad').hide();
			})
			; // Ajax End
		}); // addTestSubTypesubmit End

	});
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-2">
				<div class="btn-group-vertical">
					<button id="addTest" type="button"
						class="btn btn-primary contentSelection">Add Test</button>
					<button id="addTestSubType" type="button"
						class="btn btn-primary contentSelection">Add Test Sub Type</button>
					<button id="addSlot" type="button"
						class="btn btn-primary contentSelection">Add Slots</button>
					<button id="addBooking" type="button"
						class="btn btn-primary contentSelection">Add Booking</button>
					<button id="getBookings" type="button"
						class="btn btn-primary contentSelection">View Bookings</button>
				</div>
			</div>
			<div class="col-md-10">
				<div id="addTestDiv" class="contentDiv">
				
					<div class="row"> 
						<div  class="mainbox col-md-6  col-sm-8 ">
							<div class="panel panel-info">
								<div class="panel-heading">
									<div class="panel-title">Enter Test Details</div>
								</div>
								<div class="panel-body">
									<div class="form-horizontal">
										<div class="form-group">
											<label for="testName" class="col-md-3 control-label">Test Name</label>
											<div class="col-md-9">
												<input id="testName" type="text" class="form-control" placeholder="Test Name" />
												<div id="Testnameerror" class="errorstyle"></div>
											</div>
										</div>
										<div class="form-group">
											<!-- Button -->
											<div class="col-sm-12 controls">
												<button id="addTestsubmit" class="btn btn-success">
													<i id="registerTestTypeAjaxLoad" class="ajaxLoad fa fa-cog fa-spin"></i> Register
												</button>
	
											</div>
										</div>
										<div>
											<div class="alert" id="addTestsubmit-errorDiv" style="display:none;">
    											<button type="button" class="close">×</button>
											    <span id="addTestsubmit-error"></span>
											</div>
										</div>
	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row"> 
						<table id="testsTable" class="display">
							<thead>
        						<tr>
						            <th>Id</th>
						            <th>Test Name</th>
						        </tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>Row1-Col1</td>
    								<td>Row1-Col2</td>
    							</tr>
    							<tr>
    								<td>Row2-Col1</td>
    								<td>Row2-Col2</td>
    							</tr>
    						</tbody>
						</table>
					</div>

				</div>
				
								<div id="addTestSubTypeDiv" class="contentDiv">
				
					<div class="row"> 
						<div  class="mainbox col-md-6  col-sm-8 ">
							<div class="panel panel-info">
								<div class="panel-heading">
									<div class="panel-title">Enter Test Sub Type Details</div>
								</div>
								<div class="panel-body">
									<div class="form-horizontal">
										<div class="form-group">
											<label class="col-md-4 control-label">Test</label>
											<div class="col-md-8">
                                                <select id="testType-addSubType"></select>
											</div>
										</div>
                                    
										<div class="form-group">
											<label for="testSubTypeName-addSubType" class="col-md-4 control-label">Sub Type</label>
											<div class="col-md-8">
												<input id="testSubTypeName-addSubType" type="text" class="form-control" placeholder="Test Sub Type" />
											</div>
										</div>
										<div class="form-group">
											<label for="testSubTypeDescription-addSubType" class="col-md-4 control-label">Description</label>
											<div class="col-md-8">
												<input id="testSubTypeDescription-addSubType" type="text" class="form-control" placeholder="Description" />
											</div>
										</div>
                                        
										<div class="form-group">
											<label for="testSubTypeDuration-addSubType" class="col-md-4 control-label">Duration</label>
											<div class="col-md-8">
												<input id="testSubTypeDuration-addSubType" type="text" class="form-control" placeholder="Duration" />
											</div>
										</div>
										<div class="form-group">
											<label for="testSubTypeMaxOnline-addSubType" class="col-md-4 control-label">Max Walk ins</label>
											<div class="col-md-8">
												<input id="testSubTypeMaxOnline-addSubType" type="text" class="form-control" placeholder="Max Walk ins" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-4 control-label">Home Pick Up</label>
											<div class="col-md-8">
												<div class="input-group">
											      <span class="input-group-addon">
											        <input id="testSubTypeHomePickUp-addSubType" type="checkbox" aria-label="..." />
											      </span>
											      <input id="testSubTypeMaxHomePickUp-addSubType" type="text" class="form-control" placeholder="Max Bookings" aria-label="..." />
											    </div><!-- /input-group -->
    
												
											</div>
										</div>
										<div class="form-group">
											<label for="testSubTypeOnlineReports-addSubType" class="col-md-4 control-label">Online Reports</label>
											<div class="col-md-8">
												<input id="testSubTypeOnlineReports-addSubType" type="checkbox" class="form-control"  />
											</div>
										</div>
                                        
                                        
                                        <div class="form-group">
                                            <label for="testSubTypeStartTime-addSubType" class="col-md-4 control-label">Start Time</label>
                                            <div class="col-md-8">
                                                <input id="testSubTypeStartTime-addSubType" type="datetime-local"
                                                    class="form-control" required="required"
                                                    placeholder="startTime" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="testSubTypeEndTime-addSubType" class="col-md-4 control-label">End Time</label>
                                            <div class="col-md-8">
                                                <input id="testSubTypeEndTime-addSubType" type="datetime-local"
                                                    class="form-control" required="required"
                                                    placeholder="end time" />
                                            </div>
                                        </div>
										<div class="form-group">
											<!-- Button -->
											<div class="col-sm-12 controls">
												<button id="addTestSubTypesubmit" class="btn btn-success">
													<i id="registerTestSubTypeAjaxLoad" class="ajaxLoad fa fa-cog fa-spin"></i> Add
												</button>
	
											</div>
										</div>
										<div>
											<div class="alert" id="addTestSubTypesubmit-errorDiv" style="display:none;">
    											<button type="button" class="close">×</button>
											    <span id="addTestSubTypesubmit-error"></span>
											</div>
										</div>
	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row"> 
						<table id="testSubTypesTable" class="display">
							<thead>
        						<tr>
						            <th>Id</th>
						            <th>Name</th>
                                    <th>Description</th>
                                    <th>Duration</th>
                                    <th>Home PickUp</th>
                                    <th>Max Home PickUps</th>
                                    <th>Max Walkins</th>
                                    <th>Online Reports</th>
						        </tr>
    						</thead>
    						<tbody>
    							
    						</tbody>
						</table>
					</div>

				</div>
				<!-- 	Add Slot Div started -->
				<div id="addSlotDiv" class="contentDiv">
					<div id="signupbox" class="mainbox col-md-6 col-sm-8 ">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="panel-title">Enter Slot Details</div>
							</div>
							<div class="panel-body">
								<div id="signupform" class="form-horizontal">
									<div class="form-group">
										<label for="doctorId" class="col-md-3 control-label">Doctor
											Id</label>
										<div class="col-md-9">
											<select id="doctorId"></select>
										</div>
									</div>
									<!-- <div class="form-group">
							<label for="doctorId" class="col-md-3 control-label">Doctor
								Id</label>
							<div class="col-md-9">
								<input id="doctorId" type="text" class="form-control"
									required="required" placeholder="Name" />
							</div>
						</div> -->

									<div class="form-group">
										<label for="startTime" class="col-md-3 control-label">Start
											Time</label>
										<div class="col-md-9">
											<input id="slotstartTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="startTime" />
										</div>
									</div>
									<div class="form-group">
										<label for="endTime" class="col-md-3 control-label">End
											Time</label>
										<div class="col-md-9">
											<input id="slotendTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="end time" />
										</div>
									</div>


									<div class="form-group">
										<!-- Button -->
										<div class="col-sm-12 controls" align="center">
											<button id="slotsubmit" class="btn btn-success">
												<i class="glyphicon glyphicon-send"></i>Add
											</button>

										</div>

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- 	Add User Div started -->
				<div id="addUserDiv" class="contentDiv">
					<div id="signupbox" class="mainbox col-md-6  col-sm-8 ">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="panel-title">Enter User Details</div>
							</div>
							<div class="panel-body">
								<div id="signupform" class="form-horizontal">
									<div class="form-group">
										<label for="Name" class="col-md-3 control-label">Name</label>
										<div class="col-md-9">
											<input id="name" type="tel" class="form-control"
												placeholder="name" onkeypress="nameclear()" />
											<div id="nameerror" class="errorstyle"></div>
											<br />
										</div>
									</div>

									<div class="form-group">
										<label for="Mobile Number" class="col-md-3 control-label">Mobile
											Number</label>
										<div class="col-md-9">
											<input id="mobile" type="tel" class="form-control"
												placeholder="Mobile" onkeypress="mobileclear()" />
											<div id="mobileerror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div class="form-group">
										<label for="startTime" class="col-md-3 control-label">Start
											Time</label>
										<div class="col-md-9">
											<input id="startTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="startTime" />
										</div>
									</div>
									<div class="form-group">
										<label for="endTime" class="col-md-3 control-label">End
											Time</label>
										<div class="col-md-9">
											<input id="endTime" type="text" class="form-control"
												required="required" placeholder="end time" />
										</div>
									</div>


									<div class="form-group">
										<!-- Button -->
										<div class="col-sm-12 controls">
											<button id="usersubmit" class="btn btn-success">
												<i class="glyphicon glyphicon-send"></i>Register
											</button>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- 	Bookind Div started -->
				</div>
				
				<div id="addBookingDiv" class="contentDiv">

					<div class="row">
						<div class="col-md-3">
							<h4 style="color: green;">Select Speciality</h4>
							<ul class="nav">
								<li id="Gynecologist" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="1">
										<p id="li1" class="list-group-item-text">Gynecologist</p>
								</a></li>
								<li id="Orthopaedician" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="2">
										<p class="list-group-item-text">Orthopaedician</p>
								</a></li>
								<li id="Cardiologist" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="3">
										<p class="list-group-item-text">Cardiologist Checks</p>
								</a></li>
								<li id="Pediatrician" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="4">

										<p class="list-group-item-text">Pediatrician</p>
								</a></li>
								<li id="Ent Surgeon" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="5">
										<p class="list-group-item-text">Ent Surgeon</p>
								</a></li>
								<li id="Endocrinologist" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="6">
										<p class="list-group-item-text">Endocrinologist</p>
								</a></li>
								<li id="Nephrologist" class="clinicspeciality"><a href="#"
									class="list-group-item  liststyles"
									data-target="#custom_carousel" data-slide-to="7">
										<p id="li1" class="list-group-item-text">Nephrologist</p>
								</a></li>
								<li id="Neurosurgeon" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="8"><p
											class="list-group-item-text">Neurosurgeon</p> </a></li>
								<li id="Neuro Physician" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="9">
										<p class="list-group-item-text">Neuro Physician</p>
								</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<div class="displaystyle">
								<div id="displayArea" style="background-color: cyan;"></div>
							</div>
						</div>
						<div class="col-md-3">
							<div id="example">
								<div id="dateArea" style="display: none;">
									Preferred Date And Time <input id="datetimepicker"
										style="width: 80%;" />
									<div class=" controls">
										<button id="datebtn" class="btn btn-success">
											<i class="glyphicon glyphicon-send"></i>Get Slot
										</button>

									</div>
									<div id="slotbookingArea" style="display: none;">
										<select id="slotsDropdown"></select> <select
											id="bookingSource">
											<option value="practo">Practo</option>
											<option value="reference">Reference</option>

										</select>

									</div>
								</div>

							</div>

						</div>




						<div class="col-md-3">
							<div id="form">
								<span for="name" class="blocklabel">Name</span><br /> <input
									name="name" type="text" id="bookingName" style="width: 280px;" />
								<br /> <span for="mobile" class="blocklabel">Mobile</span> <br />
								<input name="mobile" type="text" id="bookingMobile"
									style="width: 280px;" /> <br /> <span for="age"
									class="blocklabel">Age</span> <br /> <input name="age"
									type="text" id="bookingAge" style="width: 280px;" /><br /> <br />
								<button id="submitbtn" type="submit"
									class="btn btn-primary btn-md">Submit</button>
							</div>
							<br /> <br />

						</div>
					</div>
				</div>
			</div>

			<div id="getBookingsDiv" class="contentDiv col-md-10">
				<div id="displayBookingArea"></div>
			</div>
		</div>
		

		<div id="data"></div>

	</section>
</body>
</html>