<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Astra</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Bootstrap -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css" rel="stylesheet" integrity="sha256-JcgoO7qVianjbv43Z5KinReHzk9/rEZg5m6z/ZZy3DI= sha512-rYMbEYJa5+7VkGdfAypdYHqwIdCNEBKh8lhKUNIv58tgHQuHHzXC/Bzf66BFDkTjq970Lc6OIEpgllKINGDCKQ==" crossorigin="anonymous" /> -->

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous" />

<link th:href="@{/resources/custom/bs-sticky-footer.css}"
	rel="stylesheet" />

<link th:href="@{/resources/custom/styles.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		    <![endif]-->





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	
	<!-- <script>
				$(function(){
				$("#searchbtn").click(
							function(){
								document.getElementById("search").value = "";
					
					$('#displayArea').html('');
						
					var htm="";
					htm=htm+"no records to display";
					$('#displayArea').append(htm);
				});
				});
	</script> -->
<style>
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}
.imgleft{
	margin-left: 35px;
}
.errorstyle1{
color: green;

}

</style>
</head>
<body>
	<br/>
	<div class="col-md-9">
		<a th:href="@{/HomeOne}"> <img 
			th:src="@{/resources/img/astra.jpg}" alt="Akkurate Health" class="imgleft"/>
		</a>
	</div>
	<div></div>
	<br/>
			
	
	<div class="input-group col-md-2 pull-center">
	
			 
		<input type="text" class="form-control" placeholder="Search ..."
			name="srch-term" id="search" /> <span class="input-group-btn">
			<a th:href="@{/search}">
			<button id="searchbtn" class="btn btn-warning" type="button">
				<i class="glyphicon glyphicon-search"></i>
					
			</button>
			</a>
		</span>
		
	</div>
		
		
	<!-- 	
	
		<div class="row">
			<div id="displayArea" class="errorstyle1"></div>
		</div>
		
		<div id="searcherror"></div> -->
										
	<!-- Wrap all page content here -->
	<div id="wrap">
		<!-- Fixed navbar -->
		<div
			class="navbar navbar-default navbar-fixed-bottom bg-DARKSLATEBLUE">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a style="color: #FFF;" class="navbar-brand" th:href="@{/HomeOne}">Home</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li sec:authorize="hasRole('ROLE_USER')"><a
							th:href="@{/home-user}">Me</a></li>
						<!-- 						<li><a th:href="@{/tests}">Tests</a></li> -->
						<!-- 						<li><a th:href="@{/clinics}">Clinics</a></li> -->
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:href="@{/admin}">Admin</a></li>
						<!-- 						<li><a th:href="@{/HomeOne}">HomeOne</a></li> -->

						<li><a th:href="@{/AboutUs}">About US</a></li>
						<li><a th:href="@{/Services}">Services</a></li>
						<li><a th:href="@{/PartnerWithUs}">Partner With Us</a></li>
						<li><a th:href="@{/Career}">Careers</a></li>
						<li><a th:href="@{/MedicalTourism}">MedicalTourism</a></li>
						<li><a th:href="@{/Contact}">Contact</a></li>
					</ul>


					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown" sec:authorize="isAnonymous()"><a
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Register
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/register-clinic}">Clinic</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/register-user}">User</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/register-clinic}">Pharmacy</a></li>
							</ul></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
						<li sec:authorize="isAuthenticated()">
							<form method="post" th:action="@{/logout}" role="form">
								<button type="submit" class="btn btn-danger" style="margin: 5px">Logout</button>
								<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
							</form>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

		<!-- Begin page content -->
		<div class="container">
			<section layout:fragment="content">
			
		
				<p>Page content goes here</p>
			</section>
		</div>

	</div>

	<!-- 	<div id="footer">
		<div class="container">
			<p class="text-muted credit">
				Copyright &copy; <script>document.write(new Date().getFullYear());</script> Akkurate Health.  All rights reserved.
			</p>
		</div>
	</div> -->
		
		

</body>
</html>