<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout">
<head>
	<title>Partner With Us</title>
</head>

<body>
<section layout:fragment="content">
<center>
<img th:src="@{/resources/img/withus.png}" alt="Partner With Us"/>
</center>
<br/><br/><br/>
<p> The Company's main and reference laboratories at Hyderabad utilize state-of-the-art technology and equipment to carry out widest test menu and panels in the disciplines of Molecular Diagnostics, Endocrinology, Genetics, Nutrition and Metabolism, Oncology, Immunohistochemistry, Infectious diseases, Biochemistry, Haematology, Histopathology and Cytology. 
Akkurate provides top end quality services to its customers and has internationally accepted external and internal quality assurance programs in place Akkurate is always interested in partnering with likeminded entrepreneurs and business groups for mutual growth. 
</p>

</section>

</body>
</html>