<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Recp</title>
<script>
	$(function() {
		var speciality = 'not set';
		var location = 'not set';
		var doctorId = '';
		var slotId = '';
		var doctorname = '';
		var doctorspeciality = '';
		var doctormoile = '';

		var date = new Date();
		var date2 = new Date();
		console.log(speciality);
		$('#form').hide();
		var myBookingsTableDiv = $('#myBookingsTableDiv').DataTable();
		/* get lab tests */
		$('#addLabBooking')
				.click(
						function() {
							$('#slotbookingArea2').hide();
							$('#dateArea2').hide();
							$('#form2').hide();
							$('#output2').empty();
							$('#labTypeDiv').empty();
							$('#labSubTypeDiv').empty();
							$
									.ajax({
										
										url : "api/lab/type",
										data : {
									
										},
										success : function(result) {
											console.log(result);
											if (result.status == "OK") {

									$.each(	result.results,
																function(index,
																		item) {
																	var htmlContent = '';
																	htmlContent = htmlContent
																			+ "<h3>"
																			+ '<input type="radio"  name="labTest" value="'+  item.id + '"  class="labTest"  />'
																			+ item.name
																			+ "</h3>";

																	console
																			.log(index
																					+ " => "
																					+ item.name);
																	$(
																			'#labTypeDiv')
																			.append(
																					htmlContent);
																});//each loop end

											}//ok end
											$(".labTest")
													.click(
															function() {
																var id=$(this).attr('value');
																var url="api/lab/subType/"+id;
																$
																		.ajax({
																			url : url,
																			data : {

																			},
																			success : function(
																					result) {
																				console
																						.log(result);
																				if (result.status == "OK") {

																					$('#labSubTypeDiv').html('');
																					
																					$.each(result.results,function(
																											index,
																											item) {
																										var htmlContent = '';
																										htmlContent = htmlContent
																												+ "<h3>"
																												+ '<input type="radio"  name="subtype" value="'+  item.id  + '"  class="subtype"  />'
																												+ item.name
																												+ "</h3>";

																										console
																												.log(index
																														+ " => "
																														+ item.name);
																										$(
																												'#labSubTypeDiv')
																												.append(
																														htmlContent);
																									}); // End $.each
																				} // End STatus OK

					
							$('.subtype')	.click(function() {
								$('#dateArea2').show();
								});
																									}

																		});

															});
										}//Success End
									});//Ajax End

						});/* get lab tests End */

		/*get slots for lab tests  */
		$('#datebtn2').click(
				function() {
					date2 = $('#datetimepicker2').val();
					$('#form2').show();
					$('#output2').empty();

					$.ajax({
						url : "api/slotsByDate",
						data : {
							"doctorId" : "2",
							"date" : date2
						},
						success : function(result) {
							console.log(result);
							if (result.status == "OK") {

								$('#slotsDropdown2').find('option').remove();
								$('#slotdisplayArea2').html('');
								/* var text = '{"subtypes":[' +
								'{"id":"1","name":"sub1" },' +
								'{"id":"2","name":"sub2" },' +
								'{"id":"3","name":"sub3" }]}';

								res = JSON.parse(text) */
								$.each(result.slotModel, function(index, slot) {
									console.log(slot);
									$('#slotsDropdown2').append(
											$('<option></option>', {
												value : slot.id + ","
														+ slot.time,
												text : slot.time
											}));

								});
								$('#slotbookingArea2').show();// End $.each
							} // End STatus OK

						}

					});

				});

		/*Lab booking Submitbtn  */
		$('#submitbtn2')
				.click(
						function() {

							$
									.ajax({
										url : "api/bookings/slotBooking",
										data : {
											"slotId" : $('#slotsDropdown2')
													.val().split(",")[0],
											"slotTime" : $('#slotsDropdown2')
													.val().split(",")[1],
											"name" : $('#name2').val(),
											"mobile" : $('#mobile2').val()
										},
										success : function(result) {
											console.log(result);

											if (result.status == "OK") {

												$('#output2').empty();
												$('#output2')
														.append(
																"<h2>Booking Completed Successfully...</h2>");

											}
										}
									});//submittn Ajax End
						});

		$('#addSlot').click(
				function() {
					$.ajax({

						url : "api/doctor",
						data : {

						},
						success : function(result) {
							console.log(result);
							if (result.status == "OK") {
								$('#doctorId').find('option').remove();

								$.each(result.doctors, function(index, doctor) {
									console.log(doctor);
									$('#doctorId').append(
											$('<option></option>', {
												value : doctor.id,
												text : doctor.id + "-"
														+ doctor.name + "-"
														+ doctor.speciality
														+ "-" + doctor.mobile
											}));
									//$('#slotsDropdown').append('<option></option>').val(slot);
								});

							}
						}//Success End
					});//Ajax End

				});

		$('#submitbtn')
				.click(
						function() {

							$
									.ajax({

										url : "api/bookings/slotBooking",
										data : {
											"slotId" : $('#slotsDropdown')
													.val(),
											"name" : $('#bookingName').val(),
											"mobile" : $('#bookingMobile')
													.val(),
											"source" : $('#bookingSource')
													.val()
										},
										success : function(result) {
											console.log(result);

											if (result.status == "OK") {
												$('#output').empty();
												$('#output')
														.append(
																"<h2>Booking Completed Successfully...</h2>");

											}
										}
									});
						});

		$("#datebtn").click(function() {
			date = $('#datetimepicker').val();
			doctorId = $('input[name=doctor]:checked', '#displayArea').val();
			$('#form').show();
			$('#slotbookingArea').show();
			$('#output').empty();

			$.ajax({
				url : "api/slotsByDate",
				data : {
					"doctorId" : doctorId,
					"date" : date
				},
				success : function(result) {
					console.log(result);

					if (result.status == "OK") {

						//$('#slotsDropdown')
						$('#slotsDropdown').find('option').remove();
						$('#slotdisplayArea').html('');
						slotId = result.slotModel.id;
						$.each(result.slotModel, function(index, slot) {
							console.log(slot);
							$('#slotsDropdown').append($('<option></option>', {
								value : slot.id,
								text : slot.time
							}));
							//$('#slotsDropdown').append('<option></option>').val(slot);
						});

						/* $('#slotdisplayArea').append(slotContent); */
						$('#slotbookingArea').show();

					}

				} // End Success : function
			}); // End Ajax
		});

		$('#getBookings')
				.click(
						function() {

							$
									.ajax({
										url : "api/bookings/myBookings",
										data : {},
										success : function(result) {
											console.log(result);
											if (result.status == "OK") {
												myBookingsTableDiv.clear().draw();
												$.each(result.bookings,function(index,item) {

																	var date = new Date(item.slotTime);
																	var time = date.toLocaleString();
																	
																	myBookingsTableDiv.row.add([time,item.user.name,item.user.username,item.doctor.name,item.doctor.name,item.doctor.speciality]).draw( false );
																	
																}); // End $.each
												
											}
										}

									});

						});

		$(".clinicspeciality")
				.click(
						function() {
							$('#slotbookingArea').hide();
							$('#dateArea').hide();
							$('#form').hide();
							console.log("In search btn click ");
							console.log(speciality);
							speciality = $(this).context.id;
							console.log(speciality);
							$('#output').empty();
							location = "hyderabad";
							type = "clinic";
							console.log(location);
							console.log("sending ajax req");
							$
									.ajax({
										url : "api/doctor",
										data : {
											"speciality" : speciality,
											"location" : location,
											"type" : type
										},
										success : function(result) {
											console.log(result);
											if (result.status == "OK") {
												$('#displayArea').html('');
												if (result.doctors.length == 0) {
													$('#displayArea')
															.append(
																	'<center><h3 class="style-heading" >No Doctors availale  for '
																			+ speciality
																			+ ' in '
																			+ location
																			+ ' </h3></center>');
												}
												$
														.each(
																result.doctors,
																function(index,
																		item) {
																	var htmlContent = '';
																	htmlContent = htmlContent
																			+ "<h3>"
																			+ '<input type="radio"  name="doctor" value="'+  item.id  + '"  class="doctor"  />'
																			+ item.name
																			+ "</h3>";

																	console
																			.log(index
																					+ " => "
																					+ item.name);
																	$(
																			'#displayArea')
																			.append(
																					htmlContent);
																}); // End $.each
											} // End STatus OK
											$(".doctor").click(
													function() {
														$('#slotsDropdown')
																.find('option')
																.remove();
														$('#slotbookingArea')
																.hide();
														$('#dateArea').show();
														$('#output').empty();
													})
										} // End Success : function
									}); // End Ajax
							console.log("ajax req sent");
						});
		$("#bookbtn").click(function() {
			$('#form').show();
		})
	});
</script>
<script>
	$(function() {
		$("#datetimepicker").datepicker({
			dateFormat : "yy-mm-dd",
			minDate: 0
		});

	});
</script>
<script>
	$(function() {
		$("#datetimepicker2").datepicker({
			dateFormat : "yy-mm-dd",
			minDate: 0
		});

	});
</script>
<script>
	$(function() {
		$('.contentDiv').hide();
		$('#addDocDiv').show();
		$('#displayAreaDiv').empty();
		$('.contentSelection').click(function() {
			$('.contentDiv').hide();
			if ($(this).attr("value") != "addBooking") {
				$('#slotbookingArea').hide();
				$('#displayArea').empty();
				$('#dateArea').hide();
				$('#form').hide();
			}
			$('#' + $(this).attr('id') + 'Div').show();
		});

		$('#doctorsubmit').click(function() {
			console.log($('#startTime').val());
			/* var isoDate = new Date($('#startTime').val()).toISOString();
			console.log('isoDate = ' + isoDate);
			 */

			name = $('#name').val();
			mobile = $('#mobile').val();
			startTime = $('#startTime').val();
			endTime = $('#endTime').val();
			speciality = $('#speciality').val();
			//alert(name + mobile + startTime + endTime + speciality);
			$.ajax({

				type : "POST",
				url : "content/addDoctor",
				data : {
					"name" : name,
					"mobile" : mobile,
					"startTime" : startTime + ":00Z",
					"endTime" : endTime + ":00Z",
					"speciality" : speciality,
					"duration" : "15"

				},
				success : function(result) {
					console.log(result);
					if (result.status == "OK") {
						
						$('#displayAreaDiv').empty();
						$('#displayAreaDiv').append("Insertion completed");

					}
				}
			});
			document.getElementById("name").value = "";
			document.getElementById("speciality").value = "";
			document.getElementById("mobile").value = "";

		});

		$('#slotsubmit').click(function() {

			$.ajax({
				type : "POST",
				url : "content/addSlots",
				data : {

					"doctorId" : $('#doctorId').val(),
					"startTime" : $('#slotstartTime').val() + ":00Z",
					"endTime" : $('#slotendTime').val() + ":00Z"
				},
				success : function(result) {
					console.log(result);
					if (result.status == "OK") {
						$('#displayAreaDiv').empty();
						$('#displayAreaDiv').append("add slots added successfully");
					}

				}

			});
		});

		$('#usersubmit')
				.click(
						function() {

							$
									.ajax({
										type : "post",
										url : "api/user",
										data : {
											"username" : $('#username').val(),
											"name" : $('#name1').val(),
											"password" : $('#password').val(),
											"role" : "ROLE_USER"
										},
										success : function(result) {
											console.log(result);
											var content = '<table class="table table-hover " >'
													+ '<th class="tablestyle">User Name</th><th class="tablestyle">Mobile</th><th class="tablestyle">Role</th>';
											var htmlContent = '';
											console.log(result);
											if (result.status == "OK") {
												
												$
														.each(
																result.users,
																function(index,
																		item) {

																	htmlContent = htmlContent
																			+ "<tr>"
																			+ "<td>"
																			+ item.name
																			+ "</td>"
																			+ "<td>"

																			+ item.mobile
																			+ "</td>"
																			+ "<td>"

																			+ item.role
																			+ "</td>"
																			+ "</tr>";
																	content = content
																			+ htmlContent;
																	htmlContent = '';
																	console
																			.log(index
																					+ " => "
																					+ item.name);

																}); // End $.each
												content = content + "</table>";
												$('#displayAreaDiv').empty();
												$('#displayAreaDiv').append("User added successfully");
												 
											}
										}

									});
						});

		$('#bookingsubmit').click(function(e) {
			//alert("" + $(this).attr('id'));
			
		});
		
		

	});
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-2">
				<div class="btn-group-vertical">
					<button id="addDoc" type="button"
						class="btn btn-primary contentSelection">Add Doctor</button>
					<button id="addSlot" type="button"
						class="btn btn-primary contentSelection">Add Slots</button>
					<button id="addUser" type="button"
						class="btn btn-primary contentSelection">Add User</button>
					<button id="addBooking" type="button"
						class="btn btn-primary contentSelection">Add Booking</button>
					<button id="getBookings" type="button"
						class="btn btn-primary contentSelection">View Bookings</button>
					<button id="addLabBooking" type="button"
						class="btn btn-primary contentSelection">Add Lab Booking</button>
				</div>
			</div>
			<div class="col-md-10">
				
				
		
				<div id="addDocDiv" class="contentDiv">
					<div id="signupbox" class="mainbox col-md-6  col-sm-8 ">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="panel-title">Enter Doctor Details</div>
							</div>
							<div class="panel-body">
								<div id="signupform" class="form-horizontal">
									<div class="form-group">
										<label for="Name" class="col-md-3 control-label">Name</label>
										<div class="col-md-9">
											<input id="name" type="tel" class="form-control"
												placeholder="name" />
											<div id="nameerror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div class="form-group">
										<label for="Speciality" class="col-md-3 control-label">Speciality</label>
										<div class="col-md-9">
											<select id="speciality">
												<option value="Gynecologist">Gynecologist</option>
												<option value="orthopedician">orthopedician</option>
												<option value="Cardiologist">Cardiologist</option>
												<option value="Pediatrician">Pediatrician</option>
												<option value="Ent Surgeon">Ent Surgeon</option>
												<option value="Endocrinologist">Endocrinologist</option>
												<option value="Nephrologist">Nephrologist</option>
												<option value="Neurosurgeon">Neurosurgeon</option>
												<option value="Neuro Physician">Neuro Physician</option>
											</select>
											<!--  <input id="speciality" type="tel" class="form-control"
												placeholder="speciality"  />-->
											<div id="specialityerror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div class="form-group">
										<label for="Mobile Number" class="col-md-3 control-label">Mobile
											Number</label>
										<div class="col-md-9">
											<input id="mobile" type="tel" class="form-control"
												placeholder="Mobile" />
											<div id="mobileerror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div class="form-group">
										<label for="startTime" class="col-md-3 control-label">Start
											Time</label>
										<div class="col-md-9">
											<input id="startTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="startTime" />
										</div>
									</div>
									<div class="form-group">
										<label for="endTime" class="col-md-3 control-label">End
											Time</label>
										<div class="col-md-9">
											<input id="endTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="end time" />
										</div>
									</div>


									<div class="form-group">
										<!-- Button -->
										<div class="col-sm-12 controls">
											<button id="doctorsubmit" class="btn btn-success">
												<i class="glyphicon glyphicon-send"></i>Register
											</button>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- 	Add Slot Div started -->
				<div id="addSlotDiv" class="contentDiv">
					<div id="signupbox" class="mainbox col-md-6 col-sm-8 ">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="panel-title">Enter Slot Details</div>
							</div>
							<div class="panel-body">
								<div id="signupform" class="form-horizontal">
									<div class="form-group">
										<label for="doctorId" class="col-md-3 control-label">Doctor
											Id</label>
										<div class="col-md-9">
											<select id="doctorId"></select>
										</div>
									</div>
									<!-- <div class="form-group">
							<label for="doctorId" class="col-md-3 control-label">Doctor
								Id</label>
							<div class="col-md-9">
								<input id="doctorId" type="text" class="form-control"
									required="required" placeholder="Name" />
							</div>
						</div> -->

									<div class="form-group">
										<label for="startTime" class="col-md-3 control-label">Start
											Time</label>
										<div class="col-md-9">
											<input id="slotstartTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="startTime" />
										</div>
									</div>
									<div class="form-group">
										<label for="endTime" class="col-md-3 control-label">End
											Time</label>
										<div class="col-md-9">
											<input id="slotendTime" type="datetime-local"
												class="form-control" required="required"
												placeholder="end time" />
										</div>
									</div>


									<div class="form-group">
										<!-- Button -->
										<div class="col-sm-12 controls" align="center">
											<button id="slotsubmit" class="btn btn-success">
												<i class="glyphicon glyphicon-send"></i>Add
											</button>

										</div>

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- 	Add User Div started -->
				<div id="addUserDiv" class="contentDiv">
					<div id="signupbox" class="mainbox col-md-6  col-sm-8 ">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="panel-title">Enter User Details</div>
							</div>
							<div class="panel-body">
								<div id="signupform" class="form-horizontal">
									<div class="form-group">
										<label for="UserName" class="col-md-3 control-label">Mobile</label>
										<div class="col-md-9">
											<input id="username" type="text" class="form-control"
												placeholder="username" onkeypress="usernameclear()" />
											<div id="usernameerror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div id="pwdDiv" class="form-group">
										<label for="password" class="col-md-3 control-label">password</label>
										<div class="col-md-9">
											<input id="password" type="password" class="form-control"
												placeholder="password" onkeypress="passwordclear()" />
											<div id="passworderror" class="errorstyle"></div>
											<br />
										</div>
									</div>
									<div class="form-group">
										<label for="name" class="col-md-3 control-label">Name</label>
										<div class="col-md-9">
											<input id="name1" type="text" class="form-control"
												placeholder="name" onkeypress="passwordclear()" />
											<div id="passworderror" class="errorstyle"></div>
											<br />
										</div>
									</div>

									<div class="form-group">
										<!-- Button -->
										<div class="col-sm-12 controls">
											<button id="usersubmit" class="btn btn-success">
												<i class="glyphicon glyphicon-send"></i>Register
											</button>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- 	Bookind Div started -->
				</div>
				<div id="addBookingDiv" class="contentDiv">

					<div class="row">
						<div class="col-md-3">
							<h4 style="color: green;">Select Speciality</h4>
							<ul class="nav">
								<li id="Gynecologist" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="1">
										<p id="li1" class="list-group-item-text">Gynecologist</p>
								</a></li>
								<li id="Orthopaedician" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="2">
										<p class="list-group-item-text">Orthopaedician</p>
								</a></li>
								<li id="Cardiologist" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="3">
										<p class="list-group-item-text">Cardiologist Checks</p>
								</a></li>
								<li id="Pediatrician" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="4">

										<p class="list-group-item-text">Pediatrician</p>
								</a></li>
								<li id="Ent Surgeon" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="5">
										<p class="list-group-item-text">Ent Surgeon</p>
								</a></li>
								<li id="Endocrinologist" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="6">
										<p class="list-group-item-text">Endocrinologist</p>
								</a></li>
								<li id="Nephrologist" class="clinicspeciality"><a href="#"
									class="list-group-item  liststyles"
									data-target="#custom_carousel" data-slide-to="7">
										<p id="li1" class="list-group-item-text">Nephrologist</p>
								</a></li>
								<li id="Neurosurgeon" class="clinicspeciality"><a href="#"
									class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="8"><p
											class="list-group-item-text">Neurosurgeon</p> </a></li>
								<li id="Neuro Physician" class="clinicspeciality"><a
									href="#" class="list-group-item liststyles"
									data-target="#custom_carousel" data-slide-to="9">
										<p class="list-group-item-text">Neuro Physician</p>
								</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<div class="displaystyle">
								<div id="displayArea" style="background-color: cyan;"></div>
							</div>
						</div>
						<div class="col-md-3">
							<div id="example">
								<div id="dateArea" style="display: none;">
									Preferred Date And Time <input id="datetimepicker"
										style="width: 80%;" />
									<div class=" controls">
										<button id="datebtn" class="btn btn-success">
											<i class="glyphicon glyphicon-send"></i>Get Slot
										</button>

									</div>
									<div id="slotbookingArea" style="display: none;">
										<select id="slotsDropdown"></select> <select
											id="bookingSource">
											<option value="practo">Practo</option>
											<option value="reference">Reference</option>

										</select>
										<div id="output" class="clinicbookingstyle"></div>
									</div>
								</div>

							</div>

						</div>




						<div class="col-md-3">
							<div id="form">
								<span for="name" class="blocklabel">Name</span><br /> <input
									name="name" type="text" id="bookingName" style="width: 280px;" />
								<br /> <span for="mobile" class="blocklabel">Mobile</span> <br />
								<input name="mobile" type="text" id="bookingMobile"
									style="width: 280px;" /> <br /> <span for="age"
									class="blocklabel">Age</span> <br /> <input name="age"
									type="text" id="bookingAge" style="width: 280px;" /><br /> <br />
								<button id="submitbtn" type="submit"
									class="btn btn-primary btn-md">Submit</button>
							</div>
							<br /> <br />

						</div>
					</div>
				</div>
				<div id="addLabBookingDiv" class="contentDiv">
					<div id="labTypeDiv" class="col-md-2"></div>
					<div id="labSubTypeDiv" class="col-md-2"></div>
					<div id="dateArea2" style="display: none;" class="col-md-2">
						Preferred Date And Time <input id="datetimepicker2"
							style="width: 80%;" />
						<div class=" controls">
							<button id="datebtn2" class="btn btn-success">
								<i class="glyphicon glyphicon-send"></i>Get Slot
							</button>

						</div>
						<div id="slotbookingArea2" style="display: none;">
							<select id="slotsDropdown2"></select> <select id="bookingSource2">
								<option value="practo">Practo</option>
								<option value="reference">Reference</option>

							</select>
							<div id="output2" class="clinicbookingstyle"></div>
						</div>
					</div>
					<div class="col-md-2">
						<div id="form2" style="display: none;">
							<span for="name" class="blocklabel">Name</span><br /> <input
								name="name" type="text" id="name2" style="width: 280px;" /> <br />
							<span for="mobile" class="blocklabel">Mobile</span> <br /> <input
								name="mobile" type="text" id="mobile2" style="width: 280px;" />
							<br /> <span for="age" class="blocklabel">Age</span> <br /> <input
								name="age" type="text" id="age2" style="width: 280px;" /><br />

							<br />
							<button id="submitbtn2" type="submit"
								class="btn btn-primary btn-md">Submit</button>
						</div>

					</div>
					
				</div>
				
			</div>
			
			<div id="getBookingsDiv" class="contentDiv col-md-10">
				<div id="displayBookingArea">
					<table class="table table-hover " id="myBookingsTableDiv">
						<thead>
							<tr><th class="tablestyle">Slot Time</th><th class="tablestyle">User Name</th><th class="tablestyle">User Mobile</th><th class="tablestyle">Doctor Name</th><th class="tablestyle">Speciality</th>
							</tr>
							
						</thead>
						<tbody>
    							
    						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		<div class="col-sm-10" align="center">
					<label id="displayAreaDiv"></label>
				</div>

	</section>
</body>
</html>