<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Register Clinic</title>
</head>
<body>
	<section layout:fragment="content">
		<div id="feedbackbox" style="margin-top: 10px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div th:if="${errors.size() > 0}"
				class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<ul>
					<li th:each="error : ${errors}" th:text="${error}">${error}</li>
				</ul>
			</div>
		</div>
		<div id="signupbox"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Sign Up</div>
				</div>
				<div class="panel-body">
					<form id="signupform" class="form-horizontal" role="form"
						method="post" th:object="${model}" action="content/register-clinic">
						<div class="form-group">
							<label for="email" class="col-md-3 control-label">Email</label>
							<div class="col-md-9">
								<input type="email" class="form-control" th:field="*{email}"
									required="required" placeholder="Email Address"
									value="*{email}" />
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-md-3 control-label">Password</label>
							<div class="col-md-9">
								<input type="password" class="form-control" th:field="*{passwd}"
									required="required" placeholder="Password" pattern=".{10,50}"
									title="Password Min 10 characters" />
							</div>
						</div>

						<div class="form-group">
							<label for="clinicName" class="col-md-3 control-label">Clinic
								Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{clinicName}"
									required="required" placeholder="Clinic Name" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicName}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicPhone1" class="col-md-3 control-label">Phone</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicPhone1}" required="required"
									placeholder="Phone" pattern=".{10}" title="Phone"
									value="${model.clinicPhone1}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicDesc" class="col-md-3 control-label">Clinic
								Description</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{clinicDesc}"
									required="required" placeholder="Clinic Description"
									pattern=".{2,50}" title="Min 2 characters, Max50 characters"
									value="${model.clinicDesc}" />
							</div>
						</div>

						<div class="form-group">
							<label for="clinicAddrLine1" class="col-md-3 control-label">Address
								Line1</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicAddrLine1}" required="required"
									placeholder="Address Line1" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicAddrLine1}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicAddrLine2" class="col-md-3 control-label">Address
								Line2</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicAddrLine2}" required="required"
									placeholder="Address Line2" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicAddrLine2}" />
							</div>
						</div>

						<div class="form-group">
							<label for="clinicCity" class="col-md-3 control-label">City</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{clinicCity}"
									required="required" placeholder="City" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicCity}" />
							</div>
						</div>

						<div class="form-group">
							<label for="clinicState" class="col-md-3 control-label">State</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicState}" required="required"
									placeholder="State" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicState}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicCountry" class="col-md-3 control-label">Country</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicCountry}" required="required"
									placeholder="Country" pattern=".{2,50}"
									title="Min 2 characters, Max50 characters"
									value="${model.clinicCountry}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicZipCode" class="col-md-3 control-label">Postal
								Code</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicZipCode}" required="required"
									placeholder="Postal Code" pattern=".{2,10}"
									title="Min 2 characters, Max10 characters"
									value="${model.clinicZipCode}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicZipCode" class="col-md-3 control-label">Landmark</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{clinicLandmark}" required="required"
									placeholder="Landmark" pattern=".{2,10}"
									title="Min 2 characters, Max10 characters"
									value="${model.clinicLandmark}" />
							</div>
						</div>
						<div class="form-group">
							<label for="clinicZipCode" class="col-md-3 control-label">Type
								</label>
							<div class="col-md-9">
								<input type="text" class="form-control"
									th:field="*{type}" required="required"
									placeholder="type" pattern=".{2,10}"
									title="Min 2 characters, Max10 characters"
									value="${model.type}" />
							</div>
						</div>
						<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
						<div class="form-group">
							<!-- Button -->
							<div class="col-sm-12 controls">
								<button id="btn-signup" class="btn btn-success">
									<i class="glyphicon glyphicon-send"></i> Sign Up
								</button>
								<button id="btn-reset1" type="reset" class="btn btn-danger">Reset</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</section>
</body>
</html>