<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<style>
.col-md-4{
	margin-left: 400px;
	color:green;
}
</style>
<title>Search</title>
</head>

<body>

<section layout:fragment="content">
					<br/><br/><br/>
			<div class="col-md-4">
				<p><h3>No Results Found</h3></p>
				<br/>
				<p>Sorry, the content you are looking for could not be found.</p>
				
			</div>
</section>
</body>
</html>