<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<script type="text/javascript">
	$(document).ready(
			function(ev) {
				$('#custom_carousel').on(
						'slide.bs.carousel',
						function(evt) {
							$('#custom_carousel .controls li.active')
									.removeClass('active');
							$(
									'#custom_carousel .controls li:eq('
											+ $(evt.relatedTarget).index()
											+ ')').addClass('active');
						})
			});
</script>
<style type="text/css">
body {
	padding-top: 20px
}

#custom_carousel .item {
	color: #000;
	padding: 20px 0;
}

#custom_carousel .controls {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	text-align: center;
	position: relative;
	background: #ddd;
}

#custom_carousel .controls li {
	display: table-cell;
	width: 10%;
	max-width: 90px;
}

#custom_carousel .controls li.active {
	background-color: #eee;
	border-top: 3px solid orange;
}

#custom_carousel .controls a small {
	overflow: hidden;
	display: block;
	font-size: 10px;
	margin-top: 5px;
	font-weight: bold
}

#custom_carousel .controls img {
	width: 600px;
	height: 500px;
}
</style>
<title>Career</title>
</head>
<body>
	<section layout:fragment="content">
		<br /> <br /> <br />
		<div class="row">

			<div class="col-md-2">

				<div class="controls">
					<div class="list-group">
						<ul class="nav">

							<li><a href="#" class="list-group-item active liststyles"
								data-target="#custom_carousel" data-slide-to="0">
									<p id="li1" class="list-group-item-text">Clinics</p>
							</a></li>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="1">

									<p class="list-group-item-text">Diagnostics</p>
							</a></li>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="2">

									<p class="list-group-item-text">Health Checks</p>
							</a></li>
							<a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="3">

								<p class="list-group-item-text">Health Packages</p>
							</a>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="4">

									<p class="list-group-item-text">Pharmacy</p>
							</a></li>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="5">

									<p class="list-group-item-text">Online Booking</p>
							</a></li>
							<li><a href="#" class="list-group-item  liststyles"
								data-target="#custom_carousel" data-slide-to="6">
									<p id="li1" class="list-group-item-text">Home Collection</p>
							</a></li>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="7">

									<p class="list-group-item-text">Second Opinion</p>
							</a></li>
							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="8">

									<p class="list-group-item-text">Laboratory Consultation</p>
							</a></li>

							<li><a href="#" class="list-group-item liststyles"
								data-target="#custom_carousel" data-slide-to="9">

									<p class="list-group-item-text">Medical Tourism</p>
							</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="container-fluid">
					<div id="custom_carousel" class="carousel slide"
						data-ride="carousel" data-interval="9999999999999">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-4">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-8">
											<h4>Clinics</h4>
											<p>Astra health Polyclinics, provides
												seamless,patient-centered and preventive healthcare that is
												affordable and accessible to all Astra clinics provides
												primary healthcare services to the community.It plays an
												integral role in promoting a healthy lifestyle within the
												community and empowering families with the knowledge of
												common health issues, care and treatment options..</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-7">
											<h4>Diagnostics</h4>
											<p>At Astra Diagnostics, we conduct a broad range of
												tests essential to the basic management of patient care
												allowing physicians to detect diseases earlier, make
												diagnosis, prescribe therapies and monitor patient results.
												To conduct these tests, we have set up the best
												infrastructure and procured state of the art equipment from
												the leading companies across the globe. We are offering
												routine clinical biochemistry tests, special tests,
												immunological tests, pathological tests, microbiological
												tests, ECG, TMT, and digital X-ray.</p>
										</div>
								
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Health Checks</h4>
											<p>Astra Health screening has secured its reputation in
												offering excellence, not just in the quality and efficiency
												of their services but also in our constant dedication to
												customer care service. Ensuring every step of our business
												is as comfortable and re-assuring as one of our individual
												Health Checks</p>
											<p>This is where we at Astra Health and Diagnostics can
												help with services in the form of preventive health checks
												divided according to the people needs, be it Corporate
												health checks, Pre-employment health checks, insurance
												health checks, old age home health checks, rural health
												checks, school screening programmes etc.</p>
											<p>We ensure we listen and respond to the evolving needs
												of individual clients and tailor our services to align with
												an individuals need to live healthy and live well.</p>
											<p>Our business dynamic of providing a friendly,
												hassle-free service has enhanced our ability offer the
												highest caliber of professional service. Astra health offers
												the best services to address the major concerns and
												challenges for our clients in the field of Employee
												Healthcare benefits ranging from health screening to various
												groups.</p>
											<p>We would be pleased to discuss the programs and
												costings according to your requirements and budget.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Health Packages</h4>
											<p>Cardiac health package, diabetic health package, renal
												package, master health package, executive health package
												well-woman health package, senior citizen packages,
												antenatal health packages, autoimmune health package,
												Presurgical profile.</p>

										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Pharmacy</h4>
											<p>Astra pharmacy is the health care service, which
												comprises the art, practice, and profession of choosing,
												storing, compounding, and dispensing medicines and advising
												healthcare professionals and patients on their safe,
												effective and efficient use Astra pharmacy is a specialized
												field of pharmacy which forms an integrated part of patient
												health care in a health facility.</p>
											<p>Hospital pharmacy is the profession that strives to
												continuously maintain and improve the medication management
												and pharmaceutical care of patients to the highest standards
												in a comprehensive healthcare setting.</p>
											<p>The missions of the pharmacist is to be part of the
												medication management in clinics, which encompasses the
												entire way in which medicines are selected, procured,
												delivered, prescribed, administered and reviewed to optimize
												the contribution that medicines make to producing informed
												and desired outcomes and to ensure the 7 “rights” are
												respected: right patient, right dose, right route, right
												time, right drug with the right information and
												documentation</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Online Booking</h4>
											<p>Astra is pleased to announce its online booking
												facility and also an online portal that provides patients to
												secure access to their lab results. It is free of charge and
												available to all.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Home Collection</h4>
											<p>Understanding the special needs of our customers, we
												provide home collection services. We bring you access to
												world-class diagnostic facilities right at your doorstep.
												The service employs a team of skilled phlebotomists who
												collect the samples within the comfort of your home. Our
												experienced team is competent in the collection of sample
												from the very ill, the frail and the young. Our Lab services
												at your home is the ideal home laboratory solution for
												senior citizens, people with disabilities, people who prefer
												the privacy of their home and even people who are simply
												busy at work.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Second Opinion</h4>
											<p>Second opinion is a health assistance programme that
												answers all the questions that a patient and his family may
												harbor and aids in providing affordable, safe and quality
												medical treatments or surgeries only if necessary. We are
												well connected to the best consultants who will guide you
												through the correct path of treatment advices.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Laboratory Consultation</h4>
											<p>Laboratory consultation services will be one of
												Akkurate unique services which will clear all the doubts
												regarding their test reports by a laboratory consultant.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Medical Tourism</h4>
											<p>India is considered the leading country promoting
												medical tourism. Among modern India’s achievements is its
												really significant contribution to global healthcare
												delivery. It is now highly regarded worldwide as a quality
												provider of medical talent and healthcare delivery.Providing
												high quality, world class, affordable surgery costs and
												Healthcare Services is attracting a regular stream of
												foreign patients to India in 2003; as many as 150,000
												medical tourists came to India. The figure is growing at 20%
												year on year. ......</p>
											<!-- Trigger the modal with a button -->
											<div align="right">
												<button type="button" class="btn btn-default btn-sm"
													data-toggle="modal" data-target="#myModal9">More</button>
											</div>

											<!-- Modal -->
											<div class="modal fade" id="myModal9" role="dialog">
												<div class="modal-dialog">

													<!-- Modal content-->
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
															<h4 class="modal-title">Medical Tourism</h4>
														</div>
														<div class="modal-body">
															<p>India is considered the leading country promoting
																medical tourism. Among modern India’s achievements is
																its really significant contribution to global healthcare
																delivery. It is now highly regarded worldwide as a
																quality provider of medical talent and healthcare
																delivery.Providing high quality, world class, affordable
																surgery costs and Healthcare Services is attracting a
																regular stream of foreign patients to India in 2003; as
																many as 150,000 medical tourists came to India. The
																figure is growing at 20% year on year. According to a
																CII-McKinsey Study, Medical Tourism alone can contribute
																additional US $2.2 billion revenue to Indian Hospitals
																by 2012</p>
															<p>Akkurate recognizes that International Patients
																have special needs and requirements. In order to provide
																a highly specialized service, Akkurate offers seamless
																patient services of world-class quality. From the warmth
																of our greeting at the airport, to your registration and
																discharge, we have created an unparalleled service in
																our Akkurate International Patient Service Centre
																Hyderabad, Telangana.</p>
															<p>Once decided about visiting our Hospital for
																Treatment, we would require the following details in
																order to make arrangements for airport pick up.</p>
															<ul>
																<li>Date and Time of Arrival</li>
																<li>Name of the airline</li>
																<li>Flight Name and Number</li>
															</ul>
															<p>On arrival, you will be received by our
																representative and taken to our Hospital or Hotel as per
																the treatment advice communicated via email / fax /
																telephone.</p>
															<p>
																<strong>Note:</strong>Ambulance arrangements can also be
																made for patients requiring assistance.
															</p>
															<p>
																<strong>Accommodation</strong>
															</p>
															<ul>
																<li>We offer a range of in-patient accommodation
																	from sharing rooms to Private rooms, Deluxe Rooms and
																	Super Deluxe Rooms. All hospital rooms have been
																	designed with the patients comfort and safety in mind.</li>
																<li>We provide for accommodation in guest houses
																	according to world class facilities.</li>
																<li>We also help with booking for stay in star
																	Hotels near required Hospitals.</li>
															</ul>

															<p>
																<strong>Multi-cuisine/Food arrangements</strong>
															</p>
															<p>As per the requirements of our patients, we
																arrange for food and beverages. Our dietary department
																shall arrange for food based on their nutritional
																assessment and taste preference.</p>

														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-warning btn-sm"
																data-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-3">
											<img th:src="@{/resources/img/healthcare.jpg}"
												class="img-responsive" />
										</div>
										<div class="col-md-9">
											<h4>Online Booking</h4>
											<p>Astra is pleased to announce its online booking
												facility and also an online portal that provides patients to
												secure access to their lab results. It is free of charge and
												available to all.</p>
										</div>
									</div>
								</div>
							</div>

							<!-- End Item -->
						</div>
					</div>
					<!-- End Carousel Inner -->
				</div>
			</div>
			<!-- End Carousel -->
		</div>

	</section>
</body>
</html>
